@import "base";
@import "forms";
@import "tablas";

body {
	background: #000;
	color: #fff;
	font-family: sans-serif;
	font-weight: 100;
}

header {
	margin: 20px 0 0 5%;
	h1{
		color: lightgray;
		@include adjust-font-size-to(32px);
	}
}

nav{
	padding: 1%;
	ul { 
		@include horizontal-list;
		li {list-style: none;}
		a {
			@include unstyled-link();
			@include transition-property(all);
			@include transition-duration(.2s);
			@include transition-timing-function(ease-in);
			@include link-colors($blue + 100, $blue, green, $blue + 100, $blue);
			&:hover {background: lightcyan;}
		}
	}
}

main {
	text-align: center;
	//@include background-grid($color: blue);
	color: #000;
	.page-title {
		color: green;
		@include adjust-font-size-to(24px);
	}
	.main-cont {
		text-align: left;
		width: 90%;
		@include inline-block();
		@include border-radius(20px);
		@include background-image(linear-gradient($cream1, $cream2));
		padding: 2%;
	}
}

.mensajes {
	.exito {
		display: none;
		background: lightseagreen;
	}
	.error {
		display: none;
		background: lightsalmon;
	}
}

.perfil {
	max-width: 500px;
	color: #666;
	h1 {
		@include adjust-font-size-to(24px);
	}
	label {
		margin: 0px 0px 5px;
		span {
			color: #5E5E5E;
			width: 25%;
			white-space:nowrap;
			padding-right: 2%;
			font-weight: bold;
		}
	}
	p {
		margin-left: 22%;
		color: #888;
		width: 70%;
	}
}

@include breakpoint(640px){
	.side-bar {
		@include grid-span(1, 1);
	}
	.contenido {
		@include grid-span(1, 2);
	}
}
