@import "base";

body {
	background: #000;
	color: #fff;
	font-family: sans-serif;
	font-weight: 100;
}

header {
	margin: 20px 0 0 5%;
	h1{
		color: lightgray;
		@include adjust-font-size-to(32px);
	}
}

nav{
	padding: 1%;
	ul { 
		@include horizontal-list;
		li {list-style: none;}
		a {
			@include unstyled-link();
			@include transition-property(all);
			@include transition-duration(.2s);
			@include transition-timing-function(ease-in);
			@include link-colors($blue + 100, $blue, green, $blue + 100, $blue);
			&:hover {background: lightcyan;}
		}
	}
}

main {
	text-align: center;
	//@include background-grid($color: blue);
	color: #000;
	font-family: sans-serif;
	font-weight: 100;
	.page-title {
		color: green; margin: 10px 0px;
		@include adjust-font-size-to(24px);
	}
	.main-cont{
		text-align: left;
		width: 90%;
		@include inline-block();
		@include border-radius(20px);
		@include background-image(linear-gradient($cream1, $cream2));
		padding: 2%;
	}
}

.articulo-cliente{@include rhythm-borders();}

@include breakpoint(640px){
	.side-bar {
		@include grid-span(1, 1);
	}
	.contenido {
		@include grid-span(1, 2);
	}
}
