{% extends 'base.twig' %}

{% block title %} | Clientes{% endblock title %}

{% block page_title %}Clientes{% endblock page_title %}

{% block content %}
	<a href="{{ path_for('nuevo') }}cliente">Crear nuevo cliente</a>
	{% if clientes %}
		{% for index, cliente in clientes %}
			<div class="articulo-cliente">
				Nombre: {{ cliente['nombre'] }}<br/>
			 	Email: {{ cliente['email'] }}<br/>
				<a href="{{ path_for('clientes') ~ cliente['id'] }}">Editar</a>
			</div>
		{% endfor %}
	{% else %}
		<p>No se han registrado clientes:</p>
	{% endif %}
	
	
{% endblock content %}