{% extends 'base.twig' %}

{% block title %} | Clientes{% endblock title %}

{% block page_title %}Clientes{% endblock page_title %}

{% set cont = 1 %}
{% block content %}
	<a href="{{ path_for('nuevo-cliente') }}">Crear nuevo cliente</a>
	<div class="clientes">
		{% if clientes %}
			{{ include('tabla-clientes.twig') }}
		{% else %}
			<p>No se han registrado clientes:</p>
		{% endif %}
	</div>
{% endblock content %}