<div class="side-cont">
    <form action="{{ base_url() }}/login" method="POST" class="form-login">
        <h1>Login
            <span>Porfavor llene todos los campos.</span>
        </h1>
        
        <label>
            <span>Usuario: </span>
            <input type="text" name="usuario" placeholder="Nombre de usuario" required>
            {% if flash['usuario'] %}
                <div class="validation">{{ flash['usuario'][0] }}</div>
            {% endif %}
        </label>
    
        <label>
            <span>Clave: </span>
            <input type="password" name="clave" placeholder="Clave" required>
            {% if flash['clave'] %}
                <div class="validation">{{ flash['clave'][0] }}</div>
            {% endif %}
        </label>

        <input type="submit" class="button">
    </form>
</div>