<div class="side-cont">
    <form action="{{ base_url() }}/login" method="POST" class="form-login">
        <h1>Login
            <span>Porfavor llene todos los campos.</span>
        </h1>
        
        <label>
            <span>Usuario: </span>
            <input type="text" name="usuario">
        </label>
    
        <label>
            <span>Clave: </span>
            <input type="password" name="clave">
        </label>

        <label>
            <span>&nbsp;</span>
            <input type="submit" class="button">
        </label>
    </form>
</div>