{% extends 'base.twig' %}

{% block title %} | Home{% endblock title %}

{% block page_title %}Home{% endblock page_title %}

{% block content %}
	<h1>¡Hola!</h1>
	<p>Conectado como {{ usuario.usuario }} con nivel {{ usuario.funcion }}.</p>
	<h3>Sitio en construcción.</h3>
{% endblock content %}
