{% extends 'base.twig' %}

{% block title %} | Home{% endblock title %}

{% block page_title %}Home{% endblock page_title %}

{% block content %}
	{% if demo %}
		{{ include('tabla-login.twig') }}
	{% endif %}
	<p>Sitio en construcción.</p>
{% endblock content %}
