{% extends 'base.twig' %}

{% block title %} | Login{% endblock title %}

{% block page_title %}Login{% endblock page_title %}

{% block content %}
	{% if demo %}
		<div class="demo">
		{% for item in demo %}
			<p>Nombre: {{ item['usuario'] }}<br/>
			 Clave: {{ item['clave'] }}</p>
		{% endfor %}
		</div>
	{% endif %}
	
{% endblock content %}