<div class="mensajes">
{% for key, mensajes in flash %}
    {% if key == 'error' or key == 'exito' %}
        {% for mensaje in mensajes %}
            <div class="{{ key }} mensaje">
                <p>{{ mensaje }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}
</div>